<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="Hospitality_Solution.My.MySettings.HospitalityConnectionString1"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Archivi\Hospitality.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Hospitality_Solution.My.MySettings.HospitalityConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Archivi\Hospitality.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Hospitality_Solution.My.MySettings.HospitalityConnectionString2"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Archivi\Hospitality.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Hospitality_Solution.My.MySettings.HospitalityConnectionString3"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Archivi\Hospitality.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Hospitality_Solution.My.MySettings.HospitalityConnectionString4"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Archivi\Hospitality.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Hospitality_Solution.My.MySettings.HospitalityConnectionString5"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Archivi\Hospitality.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Hospitality_Solution.My.MySettings.HospitalityConnectionString6"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Archivi\Hospitality.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Hospitality_Solution.My.MySettings.HospitalityConnectionString7"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Archivi\Hospitality.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Hospitality_Solution.My.MySettings.HospitalityConnectionString8"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Archivi\Hospitality.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Hospitality_Solution.My.MySettings.HospitalityConnectionString9"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Archivi\Hospitality.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Hospitality_Solution.My.MySettings.HospitalityConnectionString10"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Archivi\Hospitality.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Hospitality_Solution.My.MySettings.HospitalityConnectionString11"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Archivi\Hospitality.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Hospitality_Solution.My.MySettings.HospitalityConnectionString12"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Archivi\Hospitality.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Hospitality_Solution.My.MySettings.HospitalityConnectionString13"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Archivi\Hospitality.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Hospitality_Solution.My.MySettings.HospitalityConnectionString14"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Archivi\Hospitality.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Hospitality_Solution.My.MySettings.HospitalityConnectionString15"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Archivi\Hospitality.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="NomeProdotto" value="" />
    <add key="KeyAccessHospitality" value="" />
    <add key="KeyAccessMagazzino" value="" />
    <add key="KeyAccessEtichette" value="" />
    <add key="KeyAccessPenDrivePortable" value="" />
    <add key="KeyAccessPenDriveRecovery" value="" />
    <add key="KeyAccessRegCassa" value="" />
    <add key="KeyAccessFattElettronica" value="" />
    <add key="KeyAccessBar" value="" />
    <add key="KeyAccessRistorante" value="" />
    <add key="KeyAccessPalmari" value="" />
    <add key="KeyAccessPrenOnLine" value="" />
    <add key="KeyAccessHotel" value="" />
    <add key="KeyAccessCamping" value="" />
    <add key="KeyAccessBeach" value="" />
    <add key="KeyAccessBeauty" value="" />
    <add key="KeyAccessSporting" value="" />
    <add key="KeyAccessRetail" value="" />
    <add key="KeyAccessTaglieColori" value="" />
    <add key="RagioneSociale" value="" />
    <add key="Nome" value="" />
    <add key="Via" value="" />
    <add key="Città" value="" />
    <add key="Cap" value="" />
    <add key="Provincia" value="" />
    <add key="Telefono" value="" />
    <add key="Fax" value="" />
    <add key="Email" value="" />
    <add key="Piva" value="" />
    <add key="RagioneSocialeRiv" value="Montana Software" />
    <add key="NomeRiv" value="Luigi Montana" />
    <add key="TelefonoRiv" value="3397339888" />
    <add key="EmailRiv" value="assistenza@montanasoftware.it" />
    <add key="PivaRiv" value="MNTLGU74L20E290I" />
    <add key="WindowState" value="" />
    <add key="AMain" value="" />
    <add key="LMain" value="" />
    <add key="MainX" value="" />
    <add key="MainY" value="" />
    <add key="ToolBar" value="" />
    <add key="StatusBar" value="" />
    <add key="WSClienti" value="" />
    <add key="AClienti" value="" />
    <add key="LClienti" value="" />
    <add key="ClientiX" value="" />
    <add key="ClientiY" value="" />
    <add key="WSAziende" value="" />
    <add key="AAziende" value="" />
    <add key="LAziende" value="" />
    <add key="AziendeX" value="" />
    <add key="AziendeY" value="" />
    <add key="WSFornitori" value="" />
    <add key="AFornitori" value="" />
    <add key="LFornitori" value="" />
    <add key="FornitoriX" value="" />
    <add key="FornitoriY" value="" />
    <add key="WSArticoli" value="" />
    <add key="AArticoli" value="" />
    <add key="LArticoli" value="" />
    <add key="ArticoliX" value="" />
    <add key="ArticoliY" value="" />
    <add key="WSScorte" value="" />
    <add key="AScorte" value="" />
    <add key="LScorte" value="" />
    <add key="ScorteX" value="" />
    <add key="ScorteY" value="" />
    <add key="WSInventario" value="" />
    <add key="AInventario" value="" />
    <add key="LInventario" value="" />
    <add key="InventarioX" value="" />
    <add key="InventarioY" value="" />
    <add key="WSMovMag" value="" />
    <add key="AMovMag" value="" />
    <add key="LMovMag" value="" />
    <add key="MovMagX" value="" />
    <add key="MovMagY" value="" />
    <add key="WSCamerieri" value="" />
    <add key="ACamerieri" value="" />
    <add key="LCamerieri" value="" />
    <add key="CamerieriX" value="" />
    <add key="CamerieriY" value="" />
    <add key="WSSale" value="" />
    <add key="ASale" value="" />
    <add key="LSale" value="" />
    <add key="SaleX" value="" />
    <add key="SaleY" value="" />
    <add key="WSTavoli" value="" />
    <add key="ATavoli" value="" />
    <add key="LTavoli" value="" />
    <add key="TavoliX" value="" />
    <add key="TavoliY" value="" />
    <add key="WSCamere" value="" />
    <add key="ACamere" value="" />
    <add key="LCamere" value="" />
    <add key="CamereX" value="" />
    <add key="CamereY" value="" />
    <add key="WSStatoPren" value="" />
    <add key="AStatoPren" value="" />
    <add key="LStatoPren" value="" />
    <add key="StatoPrenX" value="" />
    <add key="StatoPrenY" value="" />
    <add key="WSOperatori" value="" />
    <add key="AOperatori" value="" />
    <add key="LOperatori" value="" />
    <add key="OperatoriX" value="" />
    <add key="OperatoriY" value="" />
    <add key="WSOperazioni" value="" />
    <add key="AOperazioni" value="" />
    <add key="LOperazioni" value="" />
    <add key="OperazioniX" value="" />
    <add key="OperazioniY" value="" />
    <add key="WSGruppi" value="" />
    <add key="AGruppi" value="" />
    <add key="LGruppi" value="" />
    <add key="GruppiX" value="" />
    <add key="GruppiY" value="" />
    <add key="WSCarattRisorse" value="" />
    <add key="ACarattRisorse" value="" />
    <add key="LCarattRisorse" value="" />
    <add key="CarattRisorseX" value="" />
    <add key="CarattRisorseY" value="" />
    <add key="WSPren" value="" />
    <add key="APren" value="" />
    <add key="LPren" value="" />
    <add key="PrenX" value="" />
    <add key="PrenY" value="" />
    <add key="WSPrenSale" value="" />
    <add key="APrenSale" value="" />
    <add key="LPrenSale" value="" />
    <add key="PrenXSale" value="" />
    <add key="PrenYSale" value="" />
    <add key="WSPrenRisorse" value="" />
    <add key="APrenRisorse" value="" />
    <add key="LPrenRisorse" value="" />
    <add key="PrenXRisorse" value="" />
    <add key="PrenYRisorse" value="" />
    <add key="WSPiatti" value="" />
    <add key="APiatti" value="" />
    <add key="LPiatti" value="" />
    <add key="PiattiX" value="" />
    <add key="PiattiY" value="" />
    <add key="WSCatPiatti" value="" />
    <add key="ACatPiatti" value="" />
    <add key="LCatPiatti" value="" />
    <add key="CatPiattiX" value="" />
    <add key="CatPiattiY" value="" />
    <add key="WSPNota" value="" />
    <add key="APNota" value="" />
    <add key="LPNota" value="" />
    <add key="PNotaX" value="" />
    <add key="PNotaY" value="" />
    <add key="FiltroPNota" value="" />
    <add key="WSAcquisti" value="" />
    <add key="AAcquisti" value="" />
    <add key="LAcquisti" value="" />
    <add key="AcquistiX" value="" />
    <add key="AcquistiY" value="" />
    <add key="WSDocumenti" value="" />
    <add key="ADocumenti" value="" />
    <add key="LDocumenti" value="" />
    <add key="DocumentiX" value="" />
    <add key="DocumentiY" value="" />
    <add key="FiltroDoc" value="" />
    <add key="WSCorrispettivi" value="" />
    <add key="ACorrispettivi" value="" />
    <add key="LCorrispettivi" value="" />
    <add key="CorrispettiviX" value="" />
    <add key="CorrispettiviY" value="" />
    <add key="FiltroCorrispettivi" value="" />
    <add key="WSChiusura" value="" />
    <add key="AChiusura" value="" />
    <add key="LChiusura" value="" />
    <add key="ChiusuraX" value="" />
    <add key="ChiusuraY" value="" />
    <add key="WSStat" value="" />
    <add key="AStat" value="" />
    <add key="LStat" value="" />
    <add key="StatX" value="" />
    <add key="StatY" value="" />
    <add key="WSStatRisorse" value="" />
    <add key="AStatRisorse" value="" />
    <add key="LStatRisorse" value="" />
    <add key="StatXRisorse" value="" />
    <add key="StatYRisorse" value="" />
    <add key="WSRisorse" value="" />
    <add key="ARisorse" value="" />
    <add key="LRisorse" value="" />
    <add key="RisorseX" value="" />
    <add key="RisorseY" value="" />
    <add key="WSAccessoriServizi" value="" />
    <add key="AAccessoriServizi" value="" />
    <add key="LAccessoriServizi" value="" />
    <add key="AccessoriServiziX" value="" />
    <add key="AccessoriServiziY" value="" />
    <add key="WSPlanning1" value="" />
    <add key="APlanning1" value="" />
    <add key="LPlanning1" value="" />
    <add key="PlanningX1" value="" />
    <add key="PlanningY1" value="" />
    <add key="LCelle1" value="" />
    <add key="VCosto1" value="" />
    <add key="WSPlanning2" value="" />
    <add key="APlanning2" value="" />
    <add key="LPlanning2" value="" />
    <add key="PlanningX2" value="" />
    <add key="PlanningY2" value="" />
    <add key="LCelle2" value="" />
    <add key="VCosto2" value="" />
    <add key="WSPlanning3" value="" />
    <add key="APlanning3" value="" />
    <add key="LPlanning3" value="" />
    <add key="PlanningX3" value="" />
    <add key="PlanningY3" value="" />
    <add key="LCelle3" value="" />
    <add key="VCosto3" value="" />
    <add key="WSPlanning4" value="" />
    <add key="APlanning4" value="" />
    <add key="LPlanning4" value="" />
    <add key="PlanningX4" value="" />
    <add key="PlanningY4" value="" />
    <add key="LCelle4" value="" />
    <add key="VCosto4" value="" />
    <add key="WSPlanningCamere" value="" />
    <add key="APlanningCamere" value="" />
    <add key="LPlanningCamere" value="" />
    <add key="PlanningCamereX" value="" />
    <add key="PlanningCamereY" value="" />
    <add key="WSPrenCamere" value="" />
    <add key="APrenCamere" value="" />
    <add key="LPrenCamere" value="" />
    <add key="PrenCamereX" value="" />
    <add key="PrenCamereY" value="" />
    <add key="FiltroPeriodoCamere" value="" />
    <add key="WSListiniCamere" value="" />
    <add key="AListiniCamere" value="" />
    <add key="LListiniCamere" value="" />
    <add key="ListiniCamereX" value="" />
    <add key="ListiniCamereY" value="" />
    <add key="WSSchedine" value="" />
    <add key="ASchedine" value="" />
    <add key="LSchedine" value="" />
    <add key="SchedineX" value="" />
    <add key="SchedineY" value="" />
    <add key="FiltroPeriodoSchedine" value="" />
    <add key="WSCap" value="" />
    <add key="ACap" value="" />
    <add key="LCap" value="" />
    <add key="CapX" value="" />
    <add key="CapY" value="" />
    <add key="WSEtichette" value="" />
    <add key="AEtichette" value="" />
    <add key="LEtichette" value="" />
    <add key="EtichetteX" value="" />
    <add key="EtichetteY" value="" />
    <add key="WSEmail" value="" />
    <add key="AEmail" value="" />
    <add key="LEmail" value="" />
    <add key="EmailX" value="" />
    <add key="EmailY" value="" />
    <add key="FiltroPeriodoEmail" value="" />
    <add key="WSMessaggi" value="" />
    <add key="AMessaggi" value="" />
    <add key="LMessaggi" value="" />
    <add key="MessaggiX" value="" />
    <add key="MessaggiY" value="" />
    <add key="FormatoFattAziende" value="" />
    <add key="PercorsoDB" value="" />
    <add key="PercorsoDBClienti" value="" />
    <add key="PercorsoBKP" value="" />
    <add key="SalvaBKP" value="" />
    <add key="PercorsoAmica" value="" />
    <add key="NumElememti" value="50" />
    <add key="NumCopieStampa" value="1" />
    <add key="NumeroRicevuta" value="1" />
    <add key="NumeroFattura" value="1" />
    <add key="NumeroProforma" value="" />
    <add key="AliquotaIva1" value="22" />
    <add key="AliquotaIva2" value="10" />
    <add key="AliquotaIva3" value="4" />
    <add key="AliquotaIva4" value="0" />
    <add key="RepartoAliquotaIvaRistorante" value="" />
    <add key="AliquotaIvaRistorante" value="" />
    <add key="CopertoRistorante" value="" />
    <add key="ServizioRistorante" value="" />
    <add key="EffettiSonoriPOS" value="" />
    <add key="TestoRigaUnica" value="" />
    <add key="PercorsoFileTavAgent" value="" />
    <add key="PercorsoCartellaTavAgent" value="" />
    <add key="AbilitaRicezionePren" value="False" />
    <add key="EffettoSonoroPren" value="True" />
    <add key="ColorePrenTavAgent" value="" />
    <add key="TipoEsercizioHotel" value="" />
    <add key="NumeroStelleHotel" value="" />
    <add key="RepartoAliquotaIvaHotel" value="" />
    <add key="AliquotaIvaHotel" value="" />
    <add key="ServizioHotel" value="" />
    <add key="TassaSoggiornoHotel" value="" />
    <add key="DescrizioneTassaSoggHotel" value="IMPOSTA DI SOGGIORNO - (F.C. IVA)" />
    <add key="ApplicaTassaNeonati" value="" />
    <add key="ApplicaTassaBambini" value="" />
    <add key="ApplicaTassaRagazzi" value="" />
    <add key="NumeroSchedina" value="1" />
    <add key="NumeroModC59" value="1" />
    <add key="RepartoAliquotaIvaCentroSportivo" value="" />
    <add key="AliquotaIvaCentroSportivo" value="" />
    <add key="Reparto1" value="" />
    <add key="PercorsoStampaComanda1" value="" />
    <add key="ReportComanda1" value="" />
    <add key="Reparto2" value="" />
    <add key="PercorsoStampaComanda2" value="" />
    <add key="ReportComanda2" value="" />
    <add key="Reparto3" value="" />
    <add key="PercorsoStampaComanda3" value="" />
    <add key="ReportComanda3" value="" />
    <add key="Reparto4" value="" />
    <add key="PercorsoStampaComanda4" value="" />
    <add key="ReportComanda4" value="" />
    <add key="Reparto5" value="" />
    <add key="PercorsoStampaComanda5" value="" />
    <add key="ReportComanda5" value="" />
    <add key="Reparto6" value="" />
    <add key="PercorsoStampaComanda6" value="" />
    <add key="ReportComanda6" value="" />
    <add key="Reparto7" value="" />
    <add key="PercorsoStampaComanda7" value="" />
    <add key="ReportComanda7" value="" />
    <add key="Reparto8" value="" />
    <add key="PercorsoStampaComanda8" value="" />
    <add key="ReportComanda8" value="" />
    <add key="Reparto9" value="" />
    <add key="PercorsoStampaComanda9" value="" />
    <add key="ReportComanda9" value="" />
    <add key="Reparto10" value="" />
    <add key="PercorsoStampaComanda10" value="" />
    <add key="ReportComanda10" value="" />
    <add key="PercorsoStampaComandaAgg" value="" />
    <add key="ReportComandaAgg" value="" />
    <add key="PercorsoStampaRicevute" value="" />
    <add key="ReportRicevute" value="" />
    <add key="PercorsoStampaFatture" value="" />
    <add key="ReportFatture" value="" />
    <add key="PercorsoStampaProforma" value="" />
    <add key="ReportProforma" value="" />
    <add key="PercorsoStampaScontrini" value="" />
    <add key="ReportScontrini" value="" />
    <add key="PercorsoRP" value="" />
    <add key="AbilitaPalmareWindows" value="" />
    <add key="AbilitaPalmareAndroid" value="" />
    <add key="FreqAggPalmare" value="15" />
    <add key="ProduttoreSF" value="RCH" />
    <add key="ModelloSF" value="SWING ECR 65/A" />
    <add key="PortaSF" value="COM 1" />
    <add key="ParametriSF" value="9600,N,8,1" />
    <add key="NomeScontrinoSF" value="Scontrino.inp" />
    <add key="PercorsoOutputSF" value="C:\" />
    <add key="PercorsoDriverSF" value="C:\Programmi\SwingDriver\" />
    <add key="PercorsoDriverWpos1" value="" />
    <add key="PercorsoLavoroWpos1" value="" />
    <add key="PwdDriverWpos1" value="" />
    <add key="EstensioneFileWpos1" value="001" />
    <add key="PercorsoRecovery" value="" />
    <add key="AttivaRecovery" value="" />
    <add key="DataRecovery" value="" />
    <add key="CodiceOperatore" value="1" />
    <add key="UltimoNomeOperatore" value="" />
    <add key="NomePostazione" value="" />
    <add key="DescrizionePostazione" value="" />
    <add key="QuadroPulsantiTavoli" value="True" />
    <add key="GiudizioInviato" value="" />
    <add key="NumDocFattura" value="1" />
    <add key="NumeroProgressivoFileXML" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>